.feed { /* post feed container styling */
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 750px;
  margin: 0 auto;

  padding: 10px;
}

.emtpy {  /* empty state styling */
  text-align: center;
  margin-top: 40px;
  color: #777;
}