.app { /* main app container styling */
    background-color: #dae0e6;
    min-height: 100vh;
}

.layout { /* layout container styling */
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.feed { /* feed container styling */
    flex: 1;
    padding: 20px;
}

/* Tablet view */

@media (max-width: 768px) {
    .layout {
        flex-direction: column; /* Stacking sidebar and feed vertically */
        margin: 10px;
    }

    .feed {
        padding: 15px;
    }
}

/* Mobile view */

@media (max-width: 480px) {
    .layout {
        flex-direction: column;
        margin: 5px;
    }

    .feed {
        padding: 10px;
    }
}